@import 'base/base';
:local {
    .project {
        width: 60%;
        float: left;
        padding-left: $width-navbar;
    }
    .comments-container {
        width: 40%;
        float: right;
        background: $lightest-gray;
        border-left: 1px solid $lighter-gray;
        height: 100%;
        position: fixed;
        right: 0;
        top: $height-header;
    }
    .comments-header {
        background: #fff;
        width: 100%;
    }
    .title {
        border-bottom: 1px solid $lighter-gray;
        padding: $padding-container;
        background: #fff;
        h4 {
            margin-bottom: em(5);
        }
        h5 {
            margin: 0;
        }
    }
    .header {
        background: #000;
        color: #fff;
        padding: ($padding-container * 1.5) $padding-container; // 30px
        h3 {
            margin: 0;
        }
    }
}
